[Unit]
Description=Backup with restic
[Service]
Type=simple
Nice=10
ExecStart=/etc/backup/restic_backup.sh
#$HOME must be set for restic to find /root/.cache/restic/
Environment="HOME=/root"
